@model PagedList.IPagedList<ComprasCartonesLGP.Entities.CompraDeSolicitud>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Compras";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb background-turquesa3">
        <li class="breadcrumb-item textoBlanco" aria-current="page"><h4>@ViewBag.Title</h4></li>
    </ol>
</nav>
@using (Html.BeginForm())
{
    <div class="container col-md-12 row">
        <div class="col-md-12 form-control alert-success">
            <p>
                @switch (ViewBag.Estado)
                {
                    case 0:
                        if (ViewBag.currentFilter == null)
                        {
                            <strong>Total Compras = @ViewBag.TotalCompras</strong>
                        }
                        else
                        {
                            <strong>@ViewBag.TotalCompras Resultados de la busqueda</strong>
                        }
                        break;
                    case 1:
                        if (ViewBag.currentFilter == null)
                        {
                            <strong>Total Compras Completadas = @ViewBag.TotalCompras</strong>
                        }
                        else
                        {
                            <strong>@ViewBag.TotalCompras Resultados de la busqueda</strong>
                        }
                        break;
                    case 2:
                        if (ViewBag.currentFilter == null)
                        {
                            <strong>Total Compras Pendientes = @ViewBag.TotalCompras</strong>
                        }
                        else
                        {
                            <strong>@ViewBag.TotalCompras Resultados de la busqueda</strong>
                        }
                        break;
                    case 3:
                        if (ViewBag.currentFilter == null)
                        {
                            <strong>Total Compras Canceladas = @ViewBag.TotalCompras</strong>
                        }
                        else
                        {
                            <strong>@ViewBag.TotalCompras Resultados de la busqueda</strong>
                        }
                        break;
                }
            </p>            
        </div>
    </div>
    <div class="container col-md-12 row">
        <div class="col-md-2">
            <p></p>
            <p>
                @Html.TextBox("searchString", ViewBag.currentFilter as string, new { @class = "form-control", @placeholder = "Nº Solicitud" })
            </p>
        </div>
        <div class="col-md-4">
            <p></p>
            <select class="form-control" name="Estado" id="Estado">
                @switch (ViewBag.Estado)
                {
                    case 0:
                        <option selected value="0">Todos</option>
                        <option value="1">Completo</option>
                        <option value="2">Pendiente</option>
                        <option value="3">Cancelado</option>
                        break;
                    case 1:
                        <option value="0">Todos</option>
                        <option selected value="1">Completo</option>
                        <option value="2">Pendiente</option>
                        <option value="3">Cancelado</option>
                        break;
                    case 2:
                        <option value="0">Todos</option>
                        <option value="1">Completo</option>
                        <option selected value="2">Pendiente</option>
                        <option value="3">Cancelado</option>
                        break;
                    case 3:
                        <option value="0">Todos</option>
                        <option value="1">Completo</option>
                        <option value="2">Pendiente</option>
                        <option selected value="3">Cancelado</option>
                        break;
                }

            </select>
        </div>
        <div class="col-md-1">
            <p>
                <p></p>
                <input type="submit" value="Filtrar" class="btn botonPrincipal" />
            </p>
        </div>
        <div class="col-md-2">
            <p>
                <h4>@Html.ActionLink("Limpiar filtro", "Index", null, new { @class = "btn botonPrincipal" })</h4>
            </p>
        </div>
    </div>
}
<div class="table-responsive" id="tableCtaCte">
    <table class="table table-hover" id="job-table">
        <thead>
            <tr class="text-center">
                <th scope="col"></th>
                <th scope="col">
                    <div align="center">Nº Solicitud</div>
                </th>
                <th scope="col">
                    <div align="center">Fecha Compra</div>
                </th>
                <th scope="col">
                    <div align="center">Estado Pago</div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center tableBody">
            @{var cantidad = 0;}
            @foreach (var item in Model)
            {
                cantidad = cantidad + 1;
                <tr class="">
                    <td>
                        @cantidad
                    </td>
                    <td class="">
                        @Html.DisplayFor(modelItem => item.NroSolicitud)
                    </td>
                    <td class="">
                        @item.FechaVenta.ToString("dd-MM-yyyy")
                    </td>
                    @if (item.PagoCancelado == true)
                    {
                        <td class="">
                            Cancelado
                        </td>
                    }
                    else
                    {
                        if (item.PagoRealizdo == true)
                        {
                            <td class="">
                                Completo
                            </td>
                        }
                        else
                        {
                            <td class="">
                                Pendiente
                            </td>
                        }
                    }
                    <td width="5%"><a href="@Url.Action("Details", new { id = item.ID, page = ViewBag.page, currentFilter = ViewBag.CurrentFilter, Estado = ViewBag.Estado })"><div align="center"><i class="fa fa-info" aria-hidden="true"></i></div></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="12">
                    <p></p>
                    <div align="center">
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, Estado = ViewBag.Estado }))
                    </div>
                    <p></p>
                </td>
            </tr>
        </tfoot>
    </table>
    <br /><br />
</div>