@{
    ViewBag.Title = "IngresarSinCuenta";
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>La Gran Promoción</title>
    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.png" type="image/png">
    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="~/assets/libs/fortawesome/fontawesome-free/css/all.min.css"><!-- Page CSS -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link type="text/css" href="~/assets/libs/fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
    <link type="text/css" href="~/assets/libs/swiper/dist/css/swiper.min.css" rel="stylesheet">
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="~/assets/css/purpose.css" id="stylesheet">
    <link rel="stylesheet" href="~/assets/css/custom-styles.css">
</head>
<body class="bg-section-secondary">
    <header class="header header-transparent mt-lg-5" id="header-main">
        <!-- Main navbar -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light bg-white" id="navbar-main">
            <div class="container px-lg-0 justify-content-center lgp-container-header">
                <div class="d-flex justify-content-center">
                    <!-- Logo -->
                    <a class="mr-lg-5" href="@Url.Action("Identificarse","Clientes")">
                        <img src="~/assets/img/landing/logo.png" alt="logo" width="250px">
                    </a>
                </div>
                <!-- Navbar nav -->
            </div>
        </nav>
    </header>
    <br>
    <div class="main-content">
        <section class="slice slice-lg bg-section-secondary lgp-slice">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3" style="display: @ViewBag.Display">
                        <div class="alert alert-danger text-center">
                            El sistema estará deshabilitado hasta el @ViewBag.Fecha. Muchas Gracias.
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="card shadow zindex-100 mb-0">
                            <div class="card-body px-md-5 py-5">
                                <div class="mb-5 text-center">
                                    <h6 class="h3"><b>Compra La Gran Promoción 2022</b></h6>
                                    <span>Ingrese su dni y sexo para verificar si ya está asociado a LGP</span>
                                </div>
                                <span class="clearfix"></span>
                                @using (Html.BeginForm("Identificarse", "Clientes", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Identificarse" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        <label><b>Ingrese su DNI (sin puntos)</b></label>
                                        <input required type="number" class="form-control" name="dni" id="dni" placeholder="25752254" @ViewBag.Desabilitado>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label><b>Seleccione el Sexo</b></label>
                                        <br>
                                        <input type="radio" checked name="Sexo" value="1" @ViewBag.Desabilitado> Femenino
                                        <input type="radio" name="Sexo" value="2" @ViewBag.Desabilitado> Masculino
                                    </div>
                                    <div class="mt-4">
                                        @*<a href="#" onclick="document.getElementById('Identificarse').submit()" class="btn btn-sm btn-primary btn-icon rounded-pill">*@
                                        <button type="submit" id="btnAcceder" class="btn btn-sm btn-primary btn-icon rounded-pill" @ViewBag.Desabilitado>
                                            <span class="btn-inner--text">ACCEDER</span>
                                            <span class="btn-inner--icon">
                                                <i class="fas fa-long-arrow-alt-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <br />
                                    <div class="text-center">
                                        <img src="~/Content/assets/img/landing/ssl1.jpeg" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="~/assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="~/assets/libs/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="~/assets/libs/swiper/dist/js/swiper.min.js"></script>
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBuyKngB9VC3zgY_uEB-DKL9BKYMekbeY"></script>
    <!-- Purpose JS -->
    <script src="~/assets/js/purpose.js"></script>

    <!-- Radio -->
    <script type="text/javascript" src="../hosted.muses.org/mrp.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F558X1B8YK"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F558X1B8YK');

        $('#btnAcceder').click(function () {
            console.log("anda");
        });

        $(document).ready(function () {
            var age = {};

            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }



            if (getCookie('popupCookie') != 'submited') {

                $('#ageModal').modal('show');
                initAge();
            }

            // starts the age verification process
            function initAge() {
                var month = 0;
                var day = 0;
                var year = 0;

                $("#age-submit").on("click", function () {
                    age['month'] = $("#verify-month").val();
                    age['day'] = $("#verify-day").val();
                    age['year'] = $("#verify-year").val();
                    checkDate();
                });
            }

            // Check to see if user entered a valid date...
            function checkDate() {
                if (age.month == 'none' || age.day == 'none' || age.year == 'none') {
                    // Fade in the error...
                    $('#modal-error').css('visibility', 'visible').hide().fadeIn('slow');

                    // changes the background color of the select if invalid
                    if (age.month == 'none') {
                        $("#verify-month").css('background', 'rgba(223,32,44,0.5)');
                        // Look for change of value and change background color when valid
                        $("#verify-month").on('change', function () {
                            if ($("#verify-month").val() == 'none') {
                                $("#verify-month").css('background', 'rgba(223,32,44,0.5)');
                            } else {
                                $("#verify-month").css('background', 'white');
                            }
                        });
                    }

                    // changes the background color of the select if invalid
                    if (age.day == 'none') {
                        $("#verify-day").css('background', 'rgba(223,32,44,0.5)');
                        // Look for change of value and change background color when valid
                        $("#verify-day").on('change', function () {
                            if ($("#verify-day").val() == 'none') {
                                $("#verify-day").css('background', 'rgba(223,32,44,0.5)');
                            } else {
                                $("#verify-day").css('background', 'white');
                            }
                        });
                    }

                    // changes the background color of the select if invalid
                    if (age.year == 'none') {
                        $("#verify-year").css('background', 'rgba(223,32,44,0.5)');
                        // Look for change of value and change background color when valid
                        $("#verify-year").on('change', function () {
                            if ($("#verify-year").val() == 'none') {
                                $("#verify-year").css('background', 'rgba(223,32,44,0.5)');
                            } else {
                                $("#verify-year").css('background', 'white');
                            }
                        });
                    }
                } else {
                    oldEnough();
                }
            }

            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            // Compares age entered with todays date 18 years ago...
            function oldEnough() {
                console.log("llego");
                var ageLimit = moment().subtract(18, 'years').calendar();
                var birthDate = age.month + " " + age.day + " " + age.year;
                var oldEnough = moment(birthDate, "MM DD YYYY").isBefore(ageLimit, 'day');

                if (oldEnough) {
                    setCookie('popupCookie', 'submited', 1);
                    $('#ageModal').modal('hide');
                } else {
                    $("#verify-year").remove();
                    $("#verify-day").remove();
                    $("#verify-month").remove();
                    $("#modal-age-limit").remove();
                    $("#age-submit-area").remove();
                    $("#modal-age-welcome").remove();                    
                    $("#VerificacionEdadDesaprobada").text('Solo pueden asociarse personas mayores de 18 años.');
                    $("#MensajeDenegado").text('Lo sentimos');                  
                }
            }
        });
    </script>
</body>
</html>  