@model ComprasCartonesLGP.Entities.CompraDeSolicitud

@{
    ViewBag.Title = "DetalleSolicitud";
}


<div class="col-md-12">
    <h2 class="mt-4"><b>Consulta de Solicitud Adquirida</b></h2>
    <br>
    <b>Fecha de Compra:</b> @Model.FechaVenta.ToString("dd-MM-yyyy")
    <br>
    <b>Número de Solicitud:</b> @Model.NroSolicitud
    <br>
    <b>Precio:</b> $@Model.TotalAPagar
    <br>
    <div class="row">
        <div class="col-md-6" style="padding-top: 15px">
            <b>Tipo de Pago:</b> @Model.TipoDePago.Descripcion. @ViewBag.DatosAdhesion
        </div>
        <div class="col-md-6">
            <a data-toggle="modal" data-target="#ModalCancelarAdhesion" data-tipopagoid="@ViewBag.TipoPagoId" data-idadhesion="@ViewBag.IdAdhesion"  href="#"  style="display: @ViewBag.BotonVisible" class='btn btn-primary btn-block col-md-6'>Cancelar Adhesión</a>
        </div>
    </div>
    <br>
    <b>Cant. Cuotas:</b> @Model.CantCuotas
    <br>
    <b>Estado del Pago:</b> @ViewBag.EstadoPago
    <br><br>
    <b>Nombre y Apellido:</b> @ViewBag.Nombre @ViewBag.Apellido
    <br>
    <b>Dni:</b> @ViewBag.Dni
    <br>
    <b>Localidad:</b> @ViewBag.Localidad
    <br>
    <b>Provincia:</b> @ViewBag.Provincia
    </p>
    <h2 class="mt-4"><b>Pagos Realizados</b></h2>
    @{ Html.RenderAction("TablaCuotas", "Compras", new { id = Model.ID });}
    <br /><br />
</div>
<!-- Modal Baja adhesión automatica-->
<div class="modal fade" id="ModalCancelarAdhesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">¿Esta seguro que desea dar de baja el débito automático?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*<div class="modal-body">
                <label class="col-form-label">Motivo Cancelación:</label>
                <input type="text" required class="form-control" id="">
                <br />
            </div>*@
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="CancelarAdhesionSi">Sí</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <input id="IdAdhesion" type="hidden" />
            </div>
        </div>
    </div>
</div>
