@model ComprasCartonesLGP.Entities.CompraDeSolicitud

@{
    ViewBag.Title = "DetalleSolicitud";
}


<div class="col-md-12">
    <h2 class="mt-4"><b>CONSULTA DE SOLICITUD ADQUIRIDA</b></h2>
    <br>
    <b>Fecha de Compra:</b> @Model.FechaVenta.ToString("dd-MM-yyyy")
    <br>
    <b>Número de Solicitud:</b> @Model.NroSolicitud
    <br>
    <b>Precio:</b> $@Model.TotalAPagar
    <br>
    <div class="row">
        <div class="col-md-6" style="padding-top: 15px">
            <b>Tipo de Pago:</b> @Model.TipoDePago.Descripcion. @ViewBag.DatosAdhesion
        </div>
        <div class="col-md-6" id="btnCancelarAdhesion" style="display: @ViewBag.BotonVisible">
            <a data-toggle="modal" style="@ViewBag.DeshabilitarBtnAdhesion" data-target="#ModalCancelarAdhesion" data-tipopagoid="@ViewBag.TipoPagoId" data-idadhesion="@ViewBag.IdAdhesion" href="#" class='btn btn-primary btn-block col-md-6'>CANCELAR ADHESIÓN</a>
        </div>
        <br />
        <div class="col-md-1"></div>
        <div class="alert alert-danger col-md-10" style="display: @ViewBag.AlertDesahbilitarBajaAdeshion; margin-top: 5px">
            <h6>
                En este momento no se puede cancelar la adhesión al débito automático ya que tiene una solicitud de débito en proceso.
            </h6>
        </div>
    </div>
    <div class="alert alert-danger" style="display: @ViewBag.AlertConfirmacionAdhesion">
        <br />
        <h6>
            Para finalizar la adhesión automática, se ha enviado un correo electrónico de confirmación a su email registrado. Tiene tiempo
            hasta el día @ViewBag.FechaCancelacion para confirmar dicha adhesión. Una vez pasada esta fecha, la compra de la solicitud se cancelará.
        </h6>
        <br>
    </div>
    <div class="alert alert-danger" style="display: @ViewBag.AlertPagoContado">
        <br />
        <div class="col-md-12 text-center row">
            <h6>
                Para finalizar la compra, debe abonar antes de la fecha @ViewBag.FechaVencimiento el total de la cuota. Pasada esta fecha,
                la compra de la solicitud se cancelara.
            </h6>
            <div class="col-md-5"></div>
            <div class="col-md-6 col-sm-6">
                <a class="btn btn-primary btn-block col-md-3" href="@ViewBag.Checkout">PAGAR</a>
            </div>
            <br>
        </div>
    </div>
    <b>Cant. Cuotas:</b> @Model.CantCuotas
    <br>
    <div class="col-md-6 row" style="padding-top: 15px">
        <b>Estado del Pago: </b> <div id="EstadoPago"> @ViewBag.EstadoPago</div>
    </div>
    <br>
    <b>Nombre y Apellido:</b> @ViewBag.Nombre @ViewBag.Apellido
    <br>
    <b>Dni:</b> @ViewBag.Dni
    <br>
    <b>Localidad:</b> @ViewBag.Localidad
    <br>
    <b>Provincia:</b> @ViewBag.Provincia
    </p>
    <h2 class="mt-4"><b>PAGOS REALIZADOS</b></h2>
    @{ Html.RenderAction("TablaCuotas", "Compras", new { id = Model.ID });}
    <br />
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <a href="@Url.Action("ListadoSolicitudes","Compras",  new { anio = ViewBag.AnioSeleccionado })" class='btn btn-primary btn-block col-md-6'>VOLVER</a>
        </div>
    </div>
    <br />
</div>
<!-- Modal Baja adhesión automatica-->
<div class="modal fade" id="ModalCancelarAdhesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">¿Esta seguro que desea dar de baja el débito automático?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="col-form-label">Motivo Cancelación:</label>
                <input type="text" required class="form-control" id="MotivoCancelacion">
                <br />
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="CancelarAdhesionSi">Sí</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <input id="IdAdhesion" type="hidden" />
            </div>
        </div>
    </div>
</div>
