@model IEnumerable<ComprasCartonesLGP.Entities.CompraDeSolicitud>
@{
    ViewBag.Title = "ListadoSolicitudes";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 text-center"><b>Mis Solicitudes</b></h1>
            <div class="col-md-12 row">
                <div class="col-md-9">
                    <br />
                    <p>
                        @using (Html.BeginForm())
                        {
                            <strong>Filtrar por Año:  @Html.DropDownList("Anio", null, new { @class = "dropdown" })</strong>;
                            <input type="submit" id="btnsubmit" value="Buscar" class="btn botonPrincipal" style="display:none" />
                        }
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <br />
                    <p>
                        <a href="@Url.Action("ElegirCarton","Compras")" class="btn btn-primary btn-block">Comprar Solicitud</a>
                    </p>
                </div>                 
            </div>
            <br />
            <div class="table-responsive">
                <table class="table" id="job-table">
                    <thead class="color-amarillo">
                        <tr class="text-center">
                            <th scope="col">
                                <div align="center">Nro. Solicitud</div>
                            </th>
                            <th scope="col">
                                <div align="center">Fecha Compra</div>
                            </th>
                            <th scope="col">
                                <div align="center">Estado</div>
                            </th>
                            <th scope="col">
                                <div align="center">Detalle</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center tableBody color-negro">
                        @foreach (var solicitud in Model)
                        {
                            <tr class="">
                                <td class="">
                                    @solicitud.NroSolicitud
                                </td>
                                <td class="">
                                    @solicitud.FechaVenta.ToString("dd-MM-yyyy")
                                </td>
                                @if (solicitud.PagoRealizdo == true)
                                {
                                    <td class="">
                                        Pagado
                                    </td>
                                }
                                else
                                {
                                    <td class="">
                                        Pendiente
                                    </td>
                                }
                                <td width="6%">
                                    <div align="center">
                                        <a class="d-none d-sm-block" href="@Url.Action("DetalleSolicitud","Compras", new { id = solicitud.ID })">
                                            <i title="VER" class="fas fa-eye color-negro btn-block"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br /><br />
            </div>
        </div>
    </div>
</div>
