
@{
    ViewBag.Title = "Index";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb background-turquesa3">
        <li class="breadcrumb-item textoBlanco" aria-current="page"><h4>Bienvenido al sistema administrador</h4></li>
    </ol>
</nav>
<div class="page-content">
    <div id="tab-general">
        <div class="row">
            <div class="col-sm-4">
                <a href="@Url.Action("Index","Promociones")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fa fa-inbox"></i>
                            </p>
                            <h4 class="card-title">PROMOCIONES</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br />
            <div class="col-sm-4">
                <a href="@Url.Action("Index","Solicitudes")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fa fa-wrench"></i>
                            </p>
                            <h4 class="card-title">SOLICITUDES</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br />
            <div class="col-sm-4">
                <a href="@Url.Action("Index","Debito")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="fa fa-credit-card"></i>
                            </p>
                            <h4 class="card-title">DEBITOS</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <a href="@Url.Action("Index","Compras")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fa fa-cogs"></i>
                            </p>
                            <h4 class="card-title">COMPRAS</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br />
            <div class="col-sm-4">
                <a href="@Url.Action("Index","Clientes")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fas fa-users"></i>
                            </p>
                            <h4 class="card-title">CLIENTES</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br />
            <div class="col-sm-4">
                <a href="@Url.Action("HabilitarCompra","Home")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fas fa-ban"></i>
                            </p>
                            <h4 class="card-title">HABILITAR COMPRA</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <a href="@Url.Action("Index","Exportar")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fa fa-file-export"></i>
                            </p>
                            <h4 class="card-title">EXPORTAR</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


